/.editorconfig
/.env
/.env.example
/.styleci.yml
/app
/artisan
/bootstrap
/composer.json
/composer.lock
/config
/database
/package.json
/phpunit.xml
/public
/resources
/routes
/server.php
/storage
/tests
/vendor
/webpack.mix.js